{% set title = 'View note' %}
{% extends 'base.html' %}

{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <span class="lead">{{ note.title }}</span>
        <small class="pull-right">{{ note.date | formatDate("dddd, MMMM Do YYYY, h:mm:ss a") }}</small>
    </div>
    <div class="panel-body">
        {{ note.description }}
    </div>
    <div class="panel-footer">
        <a href="/note/{{note._id}}/edit" hre class="btn btn-info">Edit</a>
        <a href="/note/{{note._id}}/delete" hre class="btn btn-primary">Delete</a>
    </div>
</div>
{% endblock %}
