{% set title = 'Login' %}
{% extends 'base.html' %}
{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal" action="/user/{{action}}" method="POST">
            <div class="form-group">
                <label class="control-label col-sm-2" for="username">Username:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="userName" placeholder="Enter User name" name="username" value="{{ user.username }}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="password">Password:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="password" placeholder="Enter password" name="password" value="{{ user.password }}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
